body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; /*for all body text*/
}

h1{
    width: 10%;
    margin: 0 auto 0 auto; /*force centers the heading since it has a defined width and doesn't center with text-align*/
    font-family: 'Sacramento', cursive;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}
.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}
.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    top: 200px;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
