body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; /*for all body text*/
}

h1{
    margin: 50px auto 0 auto; /*force centers the heading since it has a defined width and doesn't center with text-align*/
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    /* line-height: 2; */
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #11999E;
}
a{
    color: #11999E;
}

.top-container{
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}
.middle-container{
   
}
.bottom-container{
   
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    top: 300px;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
